# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Raw dataset
DataSet/

# Temp scripts
generate_report.py
run_week2.py
create_notebook.py
scripts/
scripts

# OS files
.DS_Store
Thumbs.db
